<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table class="table">

        <tr th:each="someJob : ${someJob}">
            <tr>
            <th>Name</th>
            <td th:text="${someJob.name}"></td>
            </tr>

        <tr>
        <th>Employer</th>
            <td th:text="${someJob.employer}"></td>
        </tr>
        <tr>
            <th>Location</th>
            <td th:text="${someJob.location}"></td>
        </tr>
        <tr>
            <th>Position Type</th>
            <td th:text="${someJob.positionType}"></td>
        </tr>
        <tr>
        <th>Skill</th>
            <td th:text="${someJob.coreCompetency}"></td>
        </tr>

    </table>

</div>

</body>
</html>